// <NULL STYLES===================================================================
* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  min-width: 320px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
}
input,
button,
textarea {
  font-family: inherit;
  resize: none;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
// </NULL STYLES===================================================================

// <SCROLLBAR=======================================================================
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #d7d7d7;
}
::-webkit-scrollbar-thumb {
  background: #353535;
  border-radius: 2px;
  border: 3px solid #353535;
  &:hover { 
    background: #1a1a1a;
    border-radius: 2px;
    border: 3px solid #1a1a1a;
  }
}
// </SCROLLBAR=======================================================================

//<STYLES========================================================================
body {
  background: #d7d7d7;
}
svg path {
  stroke: inherit;
  stroke-width: inherit;
  fill: inherit;
}
// </STYLES====================================================================

// <FONTS====================================================================
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Raleway:wght@300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

@import url("https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700");

@import url("https://fonts.googleapis.com/css?family=Advent+Pro:regular");

@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
// </FONTS===================================================================

// <RUBBER FONT====================================================================

// </RUBBER FONT===================================================================

// <CONTAINERS====================================================================
.container {
  max-width: 1920px;
  margin: 0 auto;
}
.container__middle {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
}
// </CONTAINERS====================================================================

// <BUTTONS====================================================================
.global__btn {
  display: inline-block;
  a {
    color: #d7d7d7;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 20px;
    position: relative;
    border-left: 1px solid #d7d7d7;
    padding: 10px 20px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #d7d7d7;
      transition: 0.3s ease 0s;
      z-index: -1;
    }
    &:hover::before {
      width: 100%;
      transition: 0.3s ease 0s;
    }
    &:hover {
      color: #000;
      transition: 0.3s ease 0s;
    }
  }
}
.global__me {
  display: inline-block;
  font-family: Montserrat;
  font-size: 30px;
  letter-spacing: 0.35538em;
  text-transform: uppercase;
  font-weight: 700;
  // border: 8px solid #000;
  box-sizing: border-box;
  line-height: 60px;
  padding: 0 20px;
  position: relative;
  transition: 0.3 linear 0s;
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 26px;
    width: 60px;
    height: 6px;
    transform: rotate(90deg);
    background: inherit;
    transition: 0.3 linear 0s;
  }
  &::after {
    left: -27px;
    transition: 0.3 linear 0s;
    background: #000;
  }
  &::before {
    right: -27px;
    transition: 0.3 linear 0s;
    background: #000;
  }
  &:hover::before {
    transition: 0.3 linear 0s;
    background: #000;
  }
}
// </BUTTONS====================================================================

// <LINES====================================================================
.global__lines {
  margin: 0 auto 100px;
  max-width: 200px;
  span {
    display: inline-block;
    height: 2px;
    background: #000;
    transition: 1s linear 0s;
    &:nth-child(1) {
      width: 50px;
    }
    &:nth-child(2) {
      transition: 1s linear 0s;
      width: 15px;
      transform: rotate(45deg);
      margin-right: -3%;
    }
    &:nth-child(3) {
      width: 15px;
      transform: rotate(45deg);
      margin-right: -3%;
    }
    &:nth-child(4) {
      width: 15px;
      transform: rotate(45deg);
      margin-right: -4.5%;
    }
    &:nth-child(5) {
      width: 15px;
      transform: rotate(-45deg);
      margin-right: -3%;
    }
    &:nth-child(6) {
      width: 15px;
      transform: rotate(-45deg);
      margin-right: -3%;
    }
    &:nth-child(7) {
      width: 15px;
      transform: rotate(-45deg);
    }
    &:nth-child(8) {
      width: 50px;
    }
  }
}
// </LINES====================================================================

.burger {
  display: none;
  position: relative;
  width: 35px;
  height: 30px;
  z-index: 10;
  &::before,
  &::after,
  span {
    content: "";
    position: absolute;
    right: 10px;
    width: 100%;
    height: 3px;
    background: #fff;
    transition: 0.3s linear 0s;
  }
  &::after {
    bottom: 0;
  }
  span {
    top: 13px;
  }
}
.burger__active {
  &::before {
    margin-top: 14px;
    transform: rotate(317deg);
  }
  &::after {
    margin-bottom: 13px;
    transform: rotate(-500deg);
  }
  span {
    transform: scale(0);
  }
}
.burger__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  overflow: auto;
  margin-top: -3000px;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  opacity: 0.9;
  background: #000;
  transition: 0.3s linear 0s;
  font-family: Poiret One;
  padding-top: 75px;
  a {
    color: #fff;
    font-size: 25px;
    z-index: 30;
  }
  li {
    margin-bottom: 5px;
  }
}
.burger__menu-active {
  margin: 0;
}
