@import "./global.scss";

// <HEADER ====================================================================================
.header {
  background: #000;
  position: fixed;
  width: 100%;
  z-index: 50;
  transition: 0.3s ease 0s;
}
.scroll {
  opacity: 0.8;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -100px;
  transition: 0.3s linear 0s;
  z-index: 50;
}
.header__navVisible {
  margin: 0;
  transition: 0.3s linear 0s;
}
.animateLogo {
  img {
    animation: 1s ease 0s oops;
    @keyframes oops {
      0% {
        transform: rotateZ(0deg);
      }
      10% {
        transform: rotateZ(-30deg);
      }
      20% {
        transform: rotateZ(15deg);
      }
      30% {
        transform: rotateZ(-10deg);
      }
      40% {
        transform: rotateZ(7.5deg);
      }
      50% {
        transform: rotateZ(-6deg);
      }
      60% {
        transform: rotateZ(5deg);
      }
      70% {
        transform: rotateZ(-4.28571deg);
      }
      80% {
        transform: rotateZ(3.75deg);
      }
      90% {
        transform: rotateZ(-3.33333deg);
      }
      100% {
        transform: rotateZ(0deg);
      }
    }
  }
}
.header__nav_logo {
  z-index: 10;
  margin-left: 20px;
  transition: 0.5s ease 0s;
  &:hover {
    transform: rotate(360deg);
  }
}
.navbar {
  width: 640px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 17px;
  a {
    color: #fff;
    padding: 10px 20px;
    position: relative;
    border: 1px solid #d7d7d7;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 0;
      background: #d7d7d7;
      transition: 0.3s ease 0s;
      z-index: -1;
    }
    &:hover::before {
      height: 100%;
    }
    &:hover {
      color: #000;
    }
  }
}
// </HEADER ====================================================================================


// <MAIN ====================================================================================
.main {
  font-family: Raleway;
  color: #000;
  font-weight: 700;
  height: 100vh;
}
.main__body {
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  height: 100vh;
  &::before {
    content: "";
    position: absolute;
    background: #000;
    width: 53%;
    height: 200%;
    right: -3%;
    top: 0%;
    z-index: -1;
    transform: rotate(9.67deg) scale(1.2);
    margin-top: -100px;
  }
}
.main__info {
  margin-top: -999px;
  padding: 245px 0 0 15px;
  margin-right: 100px;
}
.visibleMainInfo {
  transition: 0.7s linear 0s;
  margin: 0;
}
.main__hello {
  font-weight: 700;
  font-size: 25px;
  padding-bottom: 34px;
}
.main__mame {
  padding-bottom: 15px;
  font-size: 70px;
}
.main__text {
  color: #919191;
  padding-bottom: 130px;
  font-family: Raleway;
  font-size: 25px;
}
.main__social {
  max-width: 330px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  a {
    flex-wrap: wrap;
    background: #c4c4c4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 15px;
    margin: 0 10px 10px 0;
    :last-child {
      margin: 0;
    }
    svg {
      fill: #000;
      stroke: #000;
      stroke-width: 0.7px;
      width: 40px;
      height: 40px;
      transition: 0.7s ease 0s;
      &:hover {
        stroke-dashoffset: 522;
        stroke-dasharray: 130;
        animation: svgAnimate 10s infinite linear 0s;
        fill: transparent;
        @keyframes svgAnimate {
          to {
            stroke-dashoffset: 0;
          }
        }
      }
    }
  }
}
.mobile__social {
  z-index: 10;
  margin: 0 auto;
  a {
    padding: 0;
    background: 0;
    animation: none;
    box-shadow: inherit;
    margin-right: 25px;
    &:last-child {
      margin: 0;
    }
    svg {
      fill: #fff;
      stroke: #fff;
      stroke-width: 1px;
      stroke-dashoffset: 522;
      stroke-dasharray: 130;
      animation: svgAnimate 10s infinite ease 2s;
      fill: transparent;
      @keyframes svgAnimate {
        to {
          stroke-dashoffset: 0;
        }
      }
    }
  }
}
.main__mobile-bg {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  width: 100%;
  height: 100vh;
  background: url("../img/phone__mainBg.webp") center / cover no-repeat;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    z-index: 1;
  }
}
.main__mobile-lines {
  z-index: 10;
  text-align: center;
}
.main__human_svg {
  color: #000;
  width: 100%;
  text-align: center;
  z-index: 20;
  svg {
    width: 250px;
    height: 100vh;
    fill: #d7d7d7;
    stroke: #1a1a1a;
    stroke-width: 0.5px;
    stroke-dashoffset: 475;
    stroke-dasharray: 235;
    animation: svgAnimate 5s infinite linear 1.8s;
    @keyframes svgAnimate {
      to {
        stroke-dashoffset: 0;
      }
    }
  }
}
.play__svg {
  svg {
    position: absolute;
    top: -10px;
    cursor: pointer;
    width: 100px;
    height: 100vh;
    fill: #d7d7d7;
    animation: play 0.8s infinite cubic-bezier(0.47, 0, 0.745, 0.715) 0.2s;
    @keyframes play {
      to {
        top: 0;
      }
    }
    &:hover {
      animation: none;
    }
  }
}
.main__tap_svg {
  display: none;
}
.hideHumanSvg {
  display: none;
}
.main__photo {
  z-index: 1;
  align-self: flex-end;
  transition: 1s linear 0s;
  margin-bottom: -2000px;
}
.visibleMainPhoto {
  margin: 0;
}
// </MAIN ====================================================================================


// <IT ====================================================================================
.it__body {
  background: linear-gradient(90.18deg, #1d1d1d 31.74%, #1d1d1d 90.49%, #1d1d1d 90.49%);
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: #fff;
  padding: 55px 0 55px 100px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    right: 100px;
    top: 0;
    background: url("../img/Logo_it.svg") -96px -265px no-repeat;
    width: 388px;
    height: 575px;
    z-index: -1;
  }
}
.it__title {
  font-family: Montserrat;
  font-size: 30px;
  padding-bottom: 30px;
}
.it__text {
  font-family: Open Sans;
  line-height: 138.68%;
  padding-bottom: 30px;
  font-size: 15px;
  max-width: 1148px;
}
.it__btn {
  a {
    color: #fff;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 20px;
    position: relative;
    border-left: 1px solid #d7d7d7;
    padding: 10px 20px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #d7d7d7;
      transition: 0.3s ease 0s;
      z-index: -1;
    }
    &:hover::before {
      width: 100%;
    }
    &:hover {
      color: #000;
    }
  }
}
// </IT ====================================================================================


// <ABOUT ====================================================================================
.about {
  text-align: center;
  color: #000;
  padding-top: 140px;
}
.about__me {
  margin-bottom: 70px;
}
.about__text {
  font-size: 15px;
  line-height: 148.68%;
  font-family: Open Sans;
  max-width: 760px;
  margin: 0 auto 60px;
}
.about__btn {
  text-transform: uppercase;
  margin-bottom: 80px;
  a {
    color: #000;
    border-left: 1px solid #000;
    &::before {
      content: "";
      position: absolute;
      background: #000;
    }
    &:hover::before {
      width: 100%;
    }
    &:hover {
      color: #fff;
    }
  }
}
.about__info {
  display: flex;
  justify-content: center;
  text-align: left;
  flex-wrap: wrap;
}

.about__info_column {
  position: relative;
  padding-left: 40px;
  margin: 0 70px 60px 0;
  flex-basis: 27%;
  max-width: 470px;
  &:hover::before {
    transform: scale(1.2);
  }
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -25px;
    width: 61px;
    height: 64px;
    transition: 0.3s ease 0s;
  }
  &:nth-child(1)::before {
    background: url("../img/design.svg") 0 0 no-repeat;
  }
  &:nth-child(2)::before {
    background: url("../img/development.svg") 0 0 no-repeat;
  }
  &:nth-child(3)::before {
    background: url("../img/maintenance.svg") 0 0 no-repeat;
  }
}
.info__title {
  font-family: Montserrat;
  font-weight: 700;
  letter-spacing: 0.18538em;
  font-size: 22px;
  margin-bottom: 20px;
}
.info__text {
  font-family: Open Sans;
  font-weight: 300;
  line-height: 19px;
}

/*
      SKILLS
*/

.skills {
  font-family: Montserrat;
  text-align: center;
  margin-bottom: 150px;
}
.skills__me {
  margin-bottom: 70px;
}
.skills__title {
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 0.18538em;
  padding-bottom: 85px;
  text-align: left;
}
.skills__body {
  display: flex;
  flex-wrap: wrap;
}
.skills__body_item {
  flex-basis: 25%;
  padding-bottom: 65px;
}
.learning {
  &:nth-child(3) {
    margin-left: 15px;
  }
}
.body_item-image {
  margin-bottom: 25px;
  img {
    cursor: pointer;
    width: 60px;
    height: 60px;
    &:hover {
      animation: 1s ease 0s oops;
      @keyframes oops {
        0% {
          transform: rotateZ(0deg);
        }
        10% {
          transform: rotateZ(-30deg);
        }
        20% {
          transform: rotateZ(15deg);
        }
        30% {
          transform: rotateZ(-10deg);
        }
        40% {
          transform: rotateZ(7.5deg);
        }
        50% {
          transform: rotateZ(-6deg);
        }
        60% {
          transform: rotateZ(5deg);
        }
        70% {
          transform: rotateZ(-4.28571deg);
        }
        80% {
          transform: rotateZ(3.75deg);
        }
        90% {
          transform: rotateZ(-3.33333deg);
        }
        100% {
          transform: rotateZ(0deg);
        }
      }
    }
  }
}
.body_item-title {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 0.13538em;
  text-transform: lowercase;
}
// </ABOUT ====================================================================================


// <PORTFOLIO ====================================================================================
.portfolio {
  margin-bottom: 140px;
}
.portfolio__bg {
  background: url("../img/portfolio__bg.webp") -3px -145px no-repeat;
}
.portfolio__header {
  text-align: center;
  padding: 107px 0;
  background: rgba(0, 0, 0, 0.35);
}
.portfolio__body {
  background: #1a1a1a;
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
}
.slick-dots {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  button {
    margin-right: 20px;
    font-size: 0;
    width: 12px;
    height: 12px;
    background: #d7d7d7;
  }
}
.slick-active {
  button {
    background: #ff6633;
    animation: 1s ease 0s oops;
    @keyframes oops {
      0% {
        transform: rotateZ(0deg);
      }
      10% {
        transform: rotateZ(-30deg);
      }
      20% {
        transform: rotateZ(15deg);
      }
      30% {
        transform: rotateZ(-10deg);
      }
      40% {
        transform: rotateZ(7.5deg);
      }
      50% {
        transform: rotateZ(-6deg);
      }
      60% {
        transform: rotateZ(5deg);
      }
      70% {
        transform: rotateZ(-4.28571deg);
      }
      80% {
        transform: rotateZ(3.75deg);
      }
      90% {
        transform: rotateZ(-3.33333deg);
      }
      100% {
        transform: rotateZ(0deg);
      }
    }
  }
}
.portfolio__slider {
  color: #fff;
  font-family: Montserrat;
}
.portfolio__slider_item {
  width: 640px;
  height: 400px;
  cursor: pointer;
}
.vetpet {
  background: url("../img/portfolio01.webp") center / cover no-repeat;
}
.lawyer {
  background: url("../img/portfolio05.webp") center / cover no-repeat;
}
.traveler {
  background: url("../img/portfolio03.webp") center / cover no-repeat;
}
.jewelry-store {
  background: url("../img/portfolio04.webp") center / cover no-repeat;
}
.boostfolia {
  background: url("../img/portfolio02.webp") center / cover no-repeat;
}
.slider_item-btn {
  position: absolute;
  top: 15%;
}
.slider_item-name {
  position: absolute;
  bottom: 5%;
  color: #FFFFCC;
  font-size: 20px;
  padding-left: 37px;
  cursor: default;
}
.slider__btn {
  &:last-child {
    margin: 0;
  }
  a {
    font-size: 15px;
    padding: 10px 40px;
    color: #FFFFCC;
    border-left: 1px solid #000;
    &::before {
      background: #000;
      opacity: 0.5;
    }
    &:hover {
      transition: 0.3s ease 0s;
      color: #fff;
    }
  }
}
// </PORTFOLIO ====================================================================================


// <CONTACT ====================================================================================
.contact {
  text-align: center;
}
.contact__me {
  margin-bottom: 60px;
}
.contact__btn {
  a {
    color: #000;
    &::before {
      background: #000;
    }
    &:hover {
      color: #fff;
    }
  }
}
.contact__lines {
  margin-bottom: 120px;
}
.contact__form {
  margin: 0 auto 60px;
  padding-right: 10px;
  max-width: 610px;
  font-family: Montserrat;
  input,
  textarea {
    width: 100%;
    background: inherit;
    border-left: 3px solid #000;
    border-bottom: 3px solid #000;
    padding-left: 40px;
    transition: 0.3s ease 0s;
    &:focus {
      border-top: 3px solid #000;
      border-right: 3px solid #000;
      border-left: 1px solid transparent;
      border-bottom: 1px solid transparent;
    }
    &::placeholder {
      letter-spacing: 0.04em;
      text-transform: uppercase;
      transition: 1s ease 0s;
      padding-left: 30px;
    }
    &:focus::placeholder {
      text-indent: -1000px;
    }
  }
  input {
    margin-bottom: 55px;
    height: 50px;
  }
  textarea {
    height: 150px;
    padding-top: 15px;
    margin-bottom: 60px;
  }
  button {
    background: inherit;
    color: #000;
    font-family: Montserrat;
    font-weight: 700;
    font-size: 17px;
    padding: 10px 20px;
    position: relative;
    border-left: 1px solid #000;
    padding: 10px 20px;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: #000;
      transition: 0.3s ease 0s;
      z-index: -1;
    }
    &:hover::before {
      width: 100%;
      transition: 0.3s ease 0s;
    }
    &:hover {
      color: #fff;
      transition: 0.3s ease 0s;
    }
  }
}
.js-validate-error-field {
  box-shadow: 0 2px 10px 0 #000;
}
.js-validate-error-label {
  display: none;
}
// </CONTACT ====================================================================================


// <FOOTER ====================================================================================
.footer {
  color: #fff;
  text-align: center;
  font-size: 18px;
  background: #1a1a1a;
  padding: 70px 0;
}
.footer__social {
  margin-bottom: 50px;
  a {
    margin-right: 30px;
    &:last-child {
      margin: 0;
    }
  }
  svg {
    fill: #d7d7d7;
    stroke: #d7d7d7;
    stroke-width: 0.5px;
    width: 30px;
    height: 30px;
    transition: 0.1s linear 0s;
    &:hover {
      transform: scale(1.1);
    }
  }
}
// </FOOTER ====================================================================================


@import "./media.scss";
